@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .hoverEffect {
    @apply duration-300 cursor-pointer;
  }
  .headerSedenavLi {
    @apply hover:underline underline-offset-2 cursor-pointer text-gray-300 hover:text-white;
  }
}

/* ============= NavLink active Start here ============== */
nav .active li {
  color: black;
  font-weight: 600;
  text-decoration: 1px underline black;
}

.bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #eaeaea;
  color: rgb(59, 57, 57);
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.5);
}

/* Initially hide the bottom-nav */
.bottom-nav {
  display: none;
}

/* Show the bottom-nav only for mobile view */
@media (max-width: 768px) {
  .bottom-nav {
    display: flex; /* Show the nav in mobile view */
  }
}

.bottom-nav a {
  color: rgb(48, 45, 45);
  text-decoration: none;
}

.bottom-nav a:hover {
  color: rgb(157, 109, 45)!important;
  /* text-decoration: underline; */
}

.bottom-nav a:active {
  color: rgb(157, 109, 45)!important;
  /* text-decoration: underline; */
}

@media screen and (max-width: 665px) {
  nav .active li {
    color: white;
    font-weight: 600;
    text-decoration: 1px underline white;
  }
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
/* ============= NavLink active End here ================ */
